/* 
When you create a class, make sure to write your name at first E.g.:

.ziad-classname {

}

.arya-classname {

}

.aiman-classname {

}

.musa-classname {

}

.munther-classname {
  
}



*/
body {
  margin: 0;
}

/*------------------------- Arya Styles ------------------------------------*/
.arya-logo {
  background-color: black;
  width: 100px;
  margin-left: 200px;
}

/*------------------------- Aiman Styles ------------------------------------*/
.aiman-inline-p {
  display: inline;
}

.aiman-section4-background-color {
  background-color: #132340;
}

/*------------------------- Musa Styles ------------------------------------*/

/*------------------------- Munther Styles ---------------------------------*/

/*------------------------- Ziad Styles ------------------------------------*/
